<div class="container-fluid header">
  <h1>Předpovídač</h1>
</div>
<div class=" wrapper">
  <div class="container">
    <div class="inner">
      <div *ngIf="IsRegistrationValid == false && ErrorMessage!=''" class="errorInput">{{ErrorMessage}}</div>
      <p>Registrovat se:</p>
      <form [formGroup]="InsertForm" (submit)="registerUser($event)">
        <div>
          <input formControlName="Username" type="text" placeholder="jméno" id="username" />
          <div *ngIf="Username.touched && Username.errors" class="errorInput"><span *ngIf="Username.hasError('required')">Vyplňte uživatelské jméno</span></div>
        </div>
        <div>
          <input formControlName="Password" type="password" placeholder="heslo" id="password" />
          <div *ngIf="Password.touched && Password.errors" class="errorInput"><span *ngIf="Password.hasError('required')">Vyplňte heslo</span></div>
        </div>
        <div>
          <input formControlName="PasswordCheck" type="password" placeholder="heslo znovu" id="passwordCheck" pattern="{{ Password.value }}"/>
          <div *ngIf="PasswordCheck.touched && PasswordCheck.errors" class="errorInput">
            <span *ngIf="PasswordCheck.hasError('required')">Vyplňte kontrolní heslo</span>
            <span *ngIf="PasswordCheck.errors.pattern">Hesla nejsou stejná</span>
          </div>
        </div>
        <input type="submit" value="odeslat" [disabled]="InsertForm.invalid" />
      </form>
      <br /> <a routerLink="/login">Už jsem registrovaný</a>
    </div>
  </div>
</div>
