table{
  width: 100%;
}

.mat-column-position {
  width: 15%;
}

.mat-column-name {
  width: 70%;
  max-width: 7em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.mat-column-delete {
  text-align:center;
  width: 15%;
}

.deleteButton {
  font-weight: bold;
  color: white;

  border-radius: 50%;
  border: none;
  background-color: orange;
  text-align: center;
  text-decoration: none;
}
