
<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
  <div class="container-fluid">
    <div class="row justify-content-center infoMessage" *ngIf="InfoMessage!=''">{{InfoMessage}}</div>
    <div class="row justify-content-center warningMessage" *ngIf="WarnMessage!=''">{{WarnMessage}}</div>
    <div class="row justify-content-center errorMessage" *ngIf="ErrorMessage!=''">{{ErrorMessage}}</div>

    <div class="row">&nbsp;</div>
    <div class="row justify-content-center"><div class="col text-center"><h3>Nahrát historii</h3></div></div>
    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col">
        <button mat-raised-button (click)="openInput()">Vybrat soubor</button>
        <input id="fileInput" hidden type="file" (change)="handleFileInput($event.target.files)" name="file" accept=".csv">
      </div>
    </div>

    <div class="row" *ngIf="fileToUpload!=null && fileToUpload.name">&nbsp;</div>
    <div class="row fileName" *ngIf="fileToUpload!=null && fileToUpload.name"><div class="col">{{fileToUpload.name}}</div></div>

    <div class="row">&nbsp;</div>
    <div class="row"><div class="col"><button mat-raised-button color="basic" (click)="uploadFileToActivity()" [disabled]="fileToUpload==null || !fileToUpload.name">Odeslat</button></div></div>

  </div>
</form>

