form {
  background-color: white;
  padding-bottom: 2em;
  margin-bottom: 1em;
}

.fileName {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.infoMessage{
  background-color: greenyellow;
}

.warningMessage {
  background-color: lightgoldenrodyellow;
}

.errorMessage {
  background-color: red;
  color: white;
}
