<h2 mat-dialog-title>Změnit heslo</h2>
<div class="errorInput" *ngIf="ErrorMessage!=''">{{ErrorMessage}}</div>
<form [formGroup]="InsertForm" (submit)="onChangeClick($event)">
  <div mat-dialog-content>
    <div>
      <input formControlName="Password" type="password" placeholder="staré heslo" id="password" />
      <div *ngIf="Password.touched && Password.errors" class="errorInput"><span *ngIf="Password.hasError('required')">Vyplňte heslo</span></div>
    </div>
    <div>
      <input formControlName="NewPassword" type="password" placeholder="nové heslo" id="newPassword" />
      <div *ngIf="NewPassword.touched && NewPassword.errors" class="errorInput"><span *ngIf="NewPassword.hasError('required')">Vyplňte heslo</span></div>
    </div>
    <div>
      <input formControlName="PasswordCheck" type="password" placeholder="nové heslo znovu" id="passwordCheck" pattern="{{ NewPassword.value }}" />
      <div *ngIf="PasswordCheck.touched && PasswordCheck.errors" class="errorInput">
        <span *ngIf="PasswordCheck.hasError('required')">Vyplňte kontrolní heslo</span>
        <span *ngIf="PasswordCheck.errors.pattern">Hesla nejsou stejná</span>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial [mat-dialog-close]> Storno </button>
    <input type="submit" value="Odeslat" [disabled]="InsertForm.invalid" />
  </div>
</form>
