<h2 mat-dialog-title>Smazat účet</h2>

<form [formGroup]="InsertForm" (submit)="onChangeClick($event)">
  <div mat-dialog-content>
    <div>
      <p>Opravdu chcete smazat účet? Tato akce je nevratná!</p>
      <p>Pro ověření zadejte prosím znovu heslo:</p>
    </div>
    <div class="errorInput" *ngIf="ErrorMessage!=''">{{ErrorMessage}}</div>
    <div>
      <input formControlName="Password" type="password" placeholder="heslo" id="password" />
      <div *ngIf="Password.touched && Password.errors" class="errorInput"><span *ngIf="Password.hasError('required')">Vyplňte heslo</span></div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial [mat-dialog-close]> Storno </button>
    <input type="submit" value="Odeslat" [disabled]="InsertForm.invalid" />
  </div>
</form>
