/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  width: 100%;
  text-align: center;
  background-color: lightblue;
}

/* header (Forecaster) */
.header {
  padding: 3em 0 3em 0;
  background-color: #465ce8;
}

h1 {
  color: white;
  font-size: 3.5em;
  margin: 0;
}
