<div>
  <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons" style="vertical-align: middle; margin-bottom:0.1em">menu</i> Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Odhlásit se</button>
    <button mat-menu-item (click)="openChangePasswordDialog()">Změnit heslo</button>
    <button mat-menu-item (click)="openDeleteUserDialog()">Zrušit účet</button>
  </mat-menu>
</div>
