<div class="container-fluid header">
    <div class="container-fluid wrapper">
      <div><h1>Předpovídač</h1></div>
      <div class="menu"><app-account-properties></app-account-properties></div>
    </div>
</div>
<div class='container-fluid wrapper content'>
  <div class="row">&nbsp;</div>
  <div class="row justify-content-center"><h2>Historie</h2></div>
  <div class="row">&nbsp;</div>

  <div class="row">
    <div class="col-lg-5">
      <div class="container-fluid">
        <div class="row"><div class="col"><app-import></app-import></div></div>
        <div class="row"><div class="col"><app-file-history></app-file-history></div></div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div id="History_WeeksBar" class="col-md-6"><div [chart]="HistoryWeeksBarChart"></div></div>
          <div id="History_PerSizePie" class="col-md-6"><div [chart]="GetHistoryPerSizePie"></div></div>
        </div>
        <div class="row justify-content-center">&nbsp;</div>
        <div class="row justify-content-center">
          <div id="History_SymbolCategoryChart" class="col-md-6"><div [chart]="HistorySymbolCategoryPieChart"></div></div>
          <div id="History_SymbolTypeChart" class="col-md-6"><div [chart]="HistorySymbolTypePieChart"></div></div>
        </div>

      </div>
    </div>
  </div>

  <div class="row justify-content-center">&nbsp;</div>

  <div class="row justify-content-center">
    <div class="container-fluid">
      <div class="row justify-content-center"><h2>Předpověď transakcí</h2></div>
      <div class="row justify-content-center"><h3>1) Odhad výdajů neuronovou sítí na následující týden</h3></div>
      <div class="row justify-content-center">
        <div id="Forecast_Table" class="col-lg-5">
          <table mat-table [dataSource]="NeuralNetworkTableDataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Typ </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Částka </th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="NeuralNetworkTableDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: NeuralNetworkTableDisplayedColumns;"></tr>
          </table>
          <mat-paginator #NeuralNetworkPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
        <div id="Forecast_Pie" class="col-lg-5"><div [chart]="ForecastPieChart"></div></div>
      </div>

      <div class="row justify-content-center">&nbsp;</div>
      <div class="row justify-content-center"><h3>2) Odhad výdajů pomocí průměru</h3></div>
      <div class="row justify-content-center">
        <div id="Forecast_Average_Line" class="col-md-8"><div [chart]="ForecastAverageLineChart"></div></div>
        <div id="Forecast_Average_Pie" class="col-lg-4"><div [chart]="ForecastAveragePieChart"></div></div>
      </div>

      <div class="row justify-content-center">&nbsp;</div>
      <div class="row justify-content-center"><h3>3) Odhad výdajů na následující týden pomocí částky</h3></div>
      <div class="row justify-content-center">
        <div id="AmountPrediction_Table" class="col-lg-4">
          <table mat-table [dataSource]="AmountPredictionTableDataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Typ </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Částka </th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="AmountPredictionTableDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: AmountPredictionTableDisplayedColumns;"></tr>
          </table>
          <mat-paginator #AmountPredictionPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <div id="Forecast_AmountComparsion_Kind_Pie" class="col-md-4"><div [chart]="ForecastAmountComparsionKindPieChart"></div></div>
        <div id="Forecast_AmountComparsion_Size_Pie" class="col-md-4"><div [chart]="ForecastAmountComparsionSizePieChart"></div></div>
      </div>
    </div>
  </div>
</div>
