.accout__header {
  text-align: right;
}

.wrapper {
  max-width: 80em;
}

.content {
  text-align: left;
  background-color: #f5f5f5;
}

table {
  width: 100%;
}

.mat-column-name {
  max-width: 7em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media (min-width: 40.001em) {
  /* On wide screens, the nav menu should be on the right side in the middle */
  .menu {
    float: right;
    margin-top: -2.8em;
    margin-right: 2.5em;
  }
}

@media (max-width: 40em) {
  /* On small screens, the nav menu should be under the title */
  .menu {
    margin-top: 2em;
  }
}
