<div class="container-fluid header">
    <h1>Předpovídač</h1>
</div>
<div class=" wrapper">
  <div class="container">
    <div class="inner">
      <div *ngIf ="IsLoginValid == false && ErrorMessage!=''" class="errorInput">{{ErrorMessage}}</div>
      <p>Přihlásit se:</p>
      <form [formGroup]="InsertForm" (submit)="loginUser($event)">
        <div>
          <input formControlName="Username" type="text" placeholder="jméno" id="username" />
          <div *ngIf="Username.touched && Username.errors" class="errorInput"><span *ngIf="Username.hasError('required')">Vyplňte uživatelské jméno</span></div>
        </div>
        <div>
          <input formControlName="Password" type="password" placeholder="heslo" id="password" />
          <div *ngIf="Password.touched && Password.errors" class="errorInput"><span *ngIf="Password.hasError('required')">Vyplňte heslo</span></div>
        </div>
        <input type="submit" value="odeslat" [disabled]="InsertForm.invalid"/>
      </form>
      <br /> <a routerLink="/registration">Registrovat se</a>
    </div>
  </div>
</div>
  
