
.errorInput {
  color: red;
}

.wrapper {
  display: flex;
  min-height: calc( 100vh - 20em);
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0;
  padding: 0;
}

.inner {
  background-color: #f5f5f5;
  padding: 2em;
}
